{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vest Shop</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/about-styles.css' %}">
</head>
<header> 
    <div class="container1">
        <div class="left">
            <a href="/" style="color:white;">Home</a>
            <a href="{% url 'about' %}" style="color:white;">About</a>
        </div>
        <div class="right">
            <a href="{% url 'product' %}" style="color:white;">Products</a>
            <a href="{% url 'cart' %}" style="color:white;">Cart</a>
        </div>
    </div>
</header>
<body>
    <div class="content">
        <div class="slideshow-container">
        <div class="mySlides fade">
            <img src="{% static '/images/vest1.jpg' %}" alt="My Image" style="float: left; margin-top: 10px; margin-left: 10px; max-width: 80%; width: 1000px; height: 400px;">
        </div>

        <div class="mySlides fade">
            <img src="{% static '/images/vest-about.jpeg' %}" alt="My Image" style="float: left; margin-top: 10px; margin-left: 10px; max-width: 80%; width: 1000px; height: 400px;">
        </div>
    </div>
    <script>
        var slideIndex = 0;
        showSlides();

        function showSlides() {
            var i;
            var slides = document.getElementsByClassName("mySlides");
            for (i = 0; i < slides.length; i++) {
                slides[i].style.display = "none";  
            }
            slideIndex++;
            if (slideIndex > slides.length) {slideIndex = 1}    
            slides[slideIndex-1].style.display = "block";  
            setTimeout(showSlides, 3000); // Change image every 2 seconds
        }
    </script>

<div class="about-text">
    <h2><b>Experience the Unmatched Safety of 25mph Vests!</b></h2>
    <p>Our vests are not just about visibility, they are about making a statement. Stand out in vibrant color, feel the comfort of the lightweight material, and enjoy the convenience of easy maintenance. Whether you're walking, jogging, cycling, scooting, or skateboarding through the city streets, 25mph Vests have got you covered!</p>
    <p>But don't just take our word for it. Here's what one of our customers has to say: "<i><b>I've never felt safer jogging at night. The vest is comfortable and the colors are great. I highly recommend 25mph Vests!</b></i>"</p>
    <p>What sets us apart? Our commitment to quality and your safety.</p>
    <p>And that's not all! We're offering <b>free shipping within the continental United States</b>. Plus, take advantage of our special pricing: get 1 vest for $19.99, or 2 for just $38.99! Don't miss out on this opportunity to stay safe and stylish!</p>
    <p>Ready to experience the difference? <b>Order your 25mph Vest today!</b></p>
    <p>Have questions? We're here to help. Contact us at: <b>25mphvests@infinity.com</b></p>
</div>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>