{% load static %}
{% load custom_filters %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vest Shop</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.14.0/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="{% static 'css/cart-styles.css' %}">
</head>
<body style="background-color: #FFFFFF;">
    <div class="container1">
        <div class="left">
            <a href="/" style="color:white;">Home</a>
            <a href="{% url 'product' %}" style="color:white;">Products</a>
        </div>
        <div class="right">
            <a href="{% url 'cart' %}" style="color:white;"><i class="fas fa-shopping-cart"></i></a>
        </div>
    </div>
    <div class="container mt-5">
        <h2 class="text-center mb-4">Your Cart</h2>
        <div class="table-responsive">
            <table class="table table-borderless" style="text-align: center; align-items: center;">
                <thead>
                    <tr class="border-bottom">
                        <th scope="col" class="col-width">Item</th>
                        <!-- <th scope="col" class="col-width">Size</th> -->
                        <th scope="col" class="col-width">Price</th>
                        <th scope="col" class="col-width">Quantity</th>
                        <th scope="col" class="col-width">Subtotal</th>
                        <th scope="col" class="col-width1"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in items %}
                    <tr class="border-bottom">
                        <td>
                            <div style="display: flex; align-items: center; justify-content: center;">
                                <img src="{% static '/images/product-1.png' %}" alt="Placeholder Image" style="width: 60px;">
                                <div style="margin-left: 20px;">
                                    <strong style="color: #6AAD06;">25mph Vest</strong><br>
                                    Size: {{ item.size }}
                                </div>
                            </div>
                        </td>
                        <td class="align-middle">$ {{ item.price }}</td>
                        <td class="align-middle item-price" style="display: none;">{{ item.price }}</td> <!-- Add hidden price display -->
                        <td class="align-middle item-size" style="display: none;">{{ item.size }}</td>
                        <td class="align-middle">
                            <div id="quantity-selector">
                                <button class="decrease-quantity quantity-btn">-</button>
                                <span class="quantity-display" data-max-quantity="{{ item.max_quantity }}">{{ item.quantity }}</span>
                                <button class="increase-quantity quantity-btn">+</button>
                            </div>
                        </td>
                        <td class="align-middle subtotal">$ {{ item.quantity|calculate_subtotal:item.price }}</td>
                        <td class="align-middle" style="text-align: left;">
                            <button type="button" class="remove-item" aria-label="Close" style="background: none; border: none;">
                                <span aria-hidden="true">&times;</span>
                              </button>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="row mt-4">
            <div class="col-md-7 offset-md-4">
                <div class="row">
                    <div class="col"></div>
                    <div class="col"></div>
                    <div class="col grand-total">Grand Total</div>
                    <div class="col text-right" id="grand-total"><strong>$ 0.00</strong></div>
                </div>
                <br>
                <div class="row mt-3">
                    <div class="col text-right">
                        <button class="btn btn-primary" id="proceed-to-checkout" style="background-color: black; border-color: black;">Proceed to Checkout</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid" style="padding-left: 0;">
        <div class="row">
            <div class="col-lg-12">
                <div class="footer" style="background-color: #424041; text-align: center; position: fixed; bottom: 0; width: 100%; display: flex; align-items: center; justify-content: center; height: 40px;">
                    <p style="color: white; font-size: 15px; font-family: Arial, Helvetica, sans-serif; margin-top: 10px;">Contact us: <b>25mphvests@infinity.com</b></p>
                </div>
            </div>
        </div>
    </div>
    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function() {
            $(".quantity-display").each(function() {
                var size = $(this).closest("tr").find(".item-size").text();
                var quantityDisplay = $(this); // Store a reference to the quantity display element
                $.ajax({
                    type: "GET",
                    url: "{% url 'get_quantities' %}?size=" + size,
                    success: function(data) {
                        quantityDisplay.data("max-quantity", data); // Update max-quantity using the stored reference
                    },
                    error: function(xhr, errmsg, err) {
                        console.log(xhr.status + ": " + xhr.responseText);
                    }
                });
            });
            $(".increase-quantity").click(function() {
                var quantityDisplay = $(this).siblings(".quantity-display");
                var currentQuantity = parseInt(quantityDisplay.text());
                var maxQuantity = parseInt(quantityDisplay.data("max-quantity"));
                if (currentQuantity < maxQuantity) {
                    quantityDisplay.text(currentQuantity + 1);
                    updateSubtotal($(this));
                    updateSessionCart();
                }
            });
            // Decrement quantity
            $(".decrease-quantity").click(function() {
                var quantityDisplay = $(this).siblings(".quantity-display");
                var currentQuantity = parseInt(quantityDisplay.text());
                if (currentQuantity > 1) {
                    quantityDisplay.text(currentQuantity - 1);
                    updateSubtotal($(this));
                    updateSessionCart();
                }
            });
        });
    </script>
</body>
</html>