{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vest Shop</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/home-styles.css' %}">
    
</head>
<div class="container1">
    <div class="left">
        <a href="/" style="color:white;">Home</a>
        <a href="{% url 'about' %}" style="color:white;">About</a>
    </div>
    <div class="right">
        <a href="{% url 'product' %}" style="color:white;">Products</a>
        <a href="{% url 'cart' %}" style="color:white;">Cart</a>
    </div>
</div>
<body>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <p class="p1"><b><i>Are you a walker or a jogger looking for safety?</i></b></p>
    <p class="p2"><b><i>Look no further than our 25mph vests!!</i></b></p>
    <br>
    <button type="button" class="btn btn-primary" style="background-color: black; color: #FFFFFF;"><a href="{% url 'product' %}" style="color:inherit; text-decoration: none;">Shop now</a></button>
</body>
</html>