body {
    font-family: Alegreya;
    margin: 0;
    padding: 0;
    background-color: #D3D3D3;
    color: black; 
    text-align: center;
}
header {
    background-color: #474e5d; /* Set header background color to black */
    padding: 2px;
    height: 70px;
    font-family: Alegreya;
    display: flex; /* Use flexbox for layout */
    justify-content: space-between; /* Items are spaced evenly along the main axis */
    align-items: center;
    color:white;
    font-size: 15px;
}        

h1 {
    color: black; 
}
h2 {
    color: black;
}

img {
    max-width: 100%;
    height: auto;
}