body {
    font-family: Alegreya;
    margin: 0;
    padding: 0;
    color: black; 
    text-align: center;
}
header {
    background-color: #232f3e; 
    padding: 2px;
    height: 70px;
    font-family: Alegreya;
    display: flex; 
    justify-content: space-between; 
    align-items: center;
    color:black;
    font-size: 15px;
}        

h1 {
    color: black; 
}
h2 {
    color: black;
}

img {
    max-width: 100%;
    height: auto;
}
.about-section {
    display: flex;
    align-items: center; 
    justify-content: space-between; 
    padding: 30px;
}

.about-image {
    width: 90%; 
    max-width: 500px; 
    height: auto;
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 2px 2px 7px rgba(0,0,0,0.1);
}

.slideshow-container {
    flex: 1;
    margin-left: 15px;
    margin-right:2px;
}

.about-text {
    flex: 1;
    font-family: Alegreya; 
    font-size: 20px; 
    color: #333; 
    line-height: 1.8;
    margin-top: 100px;
    margin-right:100px;
    margin-left:5px;
    text-align: left;
}
.mySlides {
  display: none;
  padding: 90px;
  text-align: center;
}

.fade {
  -webkit-animation: fade 2s cubic-bezier(.4, 0, .2, 1) infinite;
  -moz-animation: fade 2s cubic-bezier(.4, 0, .2, 1) infinite;
  -o-animation: fade 2s cubic-bezier(.4, 0, .2, 1) infinite;
  animation: fade 2s cubic-bezier(.4, 0, .2, 1) infinite;
}

.about-text h1, .about-text h2, .about-text h3 {
    color:green;
}

.about-text p {
    margin-bottom: 20px;
}
@-webkit-keyframes fade {
  0% {opacity: .4} 
  100% {opacity: 1}
}

@-moz-keyframes fade {
  0% {opacity: .4} 
  100% {opacity: 1}
}