body {
    font-family: Alegreya;
    margin: 0;
    padding: 0;
    color: black;
    text-align: center;
}

.container1 {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: auto;
    background-color: #232f3e;
    height: 60px;
    align-items: center;

}

.left {
    display: flex;
    margin-left: 7%;
}

.right {
    display: flex;
    margin-right: 12%;
}

.left a {
    margin-right: 30%;
}

.right a {
    margin-left: 20%;
}

h1,
h2 {
    color: black;
}

img {
    max-width: 100%;
    height: auto;
}

.about-section {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
}

.about-image {
    width: 100%;
    max-width: 400px;
    height: auto;
}

.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.1);
}

.slideshow-container {
    flex: 1;
    margin: 20px 2px;
    width: 100%
}

.about-text {
    flex: 1;
    font-family: Alegreya;
    font-size: 16px;
    color: #333;
    line-height: 1;
    margin: 40px 5px;
    margin-top: 100px;
    margin-left: 2px;
    margin-right: 40px;
    text-align: left;
    width:100%
}

.mySlides {
    display: none;
    padding: 90px;
    text-align: center;
}

.fade {
    -webkit-animation: fade 2s cubic-bezier(.4, 0, .2, 1) infinite;
    -moz-animation: fade 2s cubic-bezier(.4, 0, .2, 1) infinite;
    -o-animation: fade 2s cubic-bezier(.4, 0, .2, 1) infinite;
    animation: fade 2s cubic-bezier(.4, 0, .2, 1) infinite;
}

.about-text h1,
.about-text h2,
.about-text h3 {
    color: green;
}

.about-text p {
    margin-bottom: 20px;
}

@-webkit-keyframes fade {
    0% {
        opacity: .4
    }

    100% {
        opacity: 1
    }
}

@-moz-keyframes fade {
    0% {
        opacity: .4
    }

    100% {
        opacity: 1
    }
}

/* For tablets */
@media (max-width: 1024px) {
    .container {
        width: 70%;
    }

    header {
        padding: 10px;
        font-size: 14px;
        height: auto;
    }
}

/* For mobile phones */
@media (max-width: 768px) {
    .container {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    header {
        padding: 20px;
        font-size: 12px;
        height: auto;
        flex-direction: column;
    }

    .about-section {
        flex-direction: column;
    }

    .slideshow-container,
    .about-text {
        flex: 1 1 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center; 
        width:100%; 
    }

    .slideshow-container {
        width: 100%;
        margin: 0;
    }
}