body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #D3D3D3;
    color: black;
    text-align: left;
}
.element {
    overflow: auto;
}
.container1 {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: auto;
    background-color: #555555;
    height: 60px;
    align-items: center;
    padding-right: 0;
    margin-right: 0;
}
.left {
    display: flex;
    margin-left: 7%;
}
.right {
    display: flex;
    margin-right: 12%;
}
.left a {
    margin-right: 30%;
}
.right a {
    margin-left: 20%;
}
.col-width {
    width: 20%; /* Adjust this value as needed */
}
.border-bottom {
    border-bottom: 1px solid #DEE2E6 !important;
}
#quantity-selector {
    align-items: center;
}
.quantity-btn {
    width: 30px;
    height: 30px;
    border: 1px solid #ddd;
    background-color: #ddd;
    color: #17D71D;
}
.quantity-display {
    display: inline-block;
    width: 50px;
    text-align: center;
}
.grand-total {
    color: #6AAD06; /* Change the color to your desired color */
    font-weight: bold; /* Optionally make the text bold */
    text-align: left;
}
.col-width1 {
    width: 10%; /* Adjust this value as needed */
}