body {
    font-family: Alegreya;
    margin: 0;
    padding: 0;
    text-align: center;
    background-image: url('../images/bg.png');
    background-size: cover;
    color: black;
}
.container1 {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: auto;
    background-color: #232f3e;
    height: 60px;
    align-items: center;

}

.left {
    display: flex;
    margin-left: 7%;
}

.right {
    display: flex;
    margin-right: 12%;
}

.left a {
    margin-right: 30%;
}

.right a {
    margin-left: 20%;
}
h1 {
    color: white;
}
h2 {
    color: white;
}
img {
    max-width: 100%;
    height: auto;
}