body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #D3D3D3;
    color: black;
    text-align: left;
}
.element {
    overflow: auto;
}
.left {
    display: flex;
    margin-left: 2%;
}
.right {
    display: flex;
    margin-right: 12%;
}
.left a {
    margin-right: 30%;
}
.right a {
    margin-left: 20%;
}
.col-width {
    width: 20%; /* Adjust this value as needed */
}
.logo {
    height: 25px; /* Adjust to your liking */
    /* width: 30px; /* Keeps the aspect ratio */
    margin-left: 5px;
    margin-right: 10px;
}
.mySlides img {
    width: 100%;
    height: 100%;
}
.slideshow-container {
    position: relative;
    margin: auto;
}
.slide-text {
    position: absolute;
    right: 40%;
    top: 40%;
    left: 5px;
    color: white;
    text-align: center;
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 1px;
    line-height: 1.2em;
}
.slide-image {
    width: 100%;
    height: 720px;
    display: block;
    transform: scale(1);
}
.shop-now {
    border-radius: 5px;
    background-color:#716d6c;
    color: white;
    width: 200px;
    height: 35px;
    margin-top: 35px;
    text-decoration: none;
}
.shop-now:hover {
    background-color: #8BC734;
    color: white;
}
.shop-now-container {
    display: center;
    justify-content: justify;
    align-items: justify;
    text-decoration: none;
}
.about-section {
    padding: 50px;
    text-align: justify;
    background-color: #F0F0F0;
    color: #333333;
}
.cart-icon {
    color: white;
    font-size: 25px;
    margin-right: -20px; /* Adjust this value to your liking */
}
/* For screens smaller than 768px (typical mobile devices) */
@media only screen and (max-width: 767px) {
    .mySlides img.desktop { display: none; }
    .slide-text {
        font-size: 1.2em;
        bottom:40%;
        top:30%;
    }
    .slide-text h2{
        font-size: 1.2em;
    }
    .mySlides img {
        height: auto;
    }
    .slide-image {
        height: auto;
    }
}
/* For screens larger than or equal to 768px (typical desktop screens) */
@media only screen and (min-width: 768px) {
    .mySlides img.mobile { display: none; }
    .slide-text {
        font-size: 1.2em;
        bottom:40%;
        top:35%;
    }
    .mySlides img {
        height: 720px;
    }
}
.about-section h2 {
    color: green;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 2em;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}
.donate-link {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    font-family: Arial, sans-serif;
    font-size: 16px;
}
.navbar-nav {
    margin-right: 20px; /* Adjust this value as needed */
}
