body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #D3D3D3;
    color: black;
    text-align: left;
}
.element {
    overflow: auto;
}
.container1 {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: auto;
    background-color: #555555;
    height: 60px;
    align-items: center;
    padding-right: 0;
    margin-right: 0;
}
.left {
    display: flex;
    margin-left: 7%;
}
.right {
    display: flex;
    margin-right: 12%;
}
.left a {
    margin-right: 30%;
}
.right a {
    margin-left: 20%;
}