body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #D3D3D3;
    color: black;
    text-align: left;
}

.element {
    overflow: auto;
}

.left {
    display: flex;
    margin-left: 2%;
}

.right {
    display: flex;
    margin-right: 12%;
}

.left a {
    margin-right: 30%;
}

.right a {
    margin-left: 20%;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.navbar,
.footer {
    background-color: #555555;
    /* This is the gray color */
}

.logo {
    height: 40px;
    width: 40px;
    margin-left: 8px;
    margin-right: 8px;
}

.container {
    background-color: #edecea;
    padding: 20px;
    margin: 0 auto;
    width: 40%;
    text-align: center;
    border-radius: 10px;
    height: auto;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container img {
    max-width: 100%;
    max-height: 200px;
    width: auto;
    margin-bottom: 20px;
}

.size-chart-link {
    font-size: 15px;
    cursor: pointer;
    color: #007bff;
    text-decoration: underline;
    margin-top: 10px;

}

h1 {
    color: white;

}

h2 {
    color: #ccc;

}

img {
    max-width: 100%;
    height: auto;

}

/* For tablets */
@media (max-width: 1024px) {
    .container {
        width: 70%;
    }
}

/* For mobile phones */
@media (max-width: 768px) {
    .container {
        width: 90%;
    }
}

/* For tablets */
@media (max-width: 1024px) {
    header {
        padding: 10px;
        height: auto;
        font-size: 14px;
    }
}

/* For mobile phones */
@media (max-width: 768px) {
    header {
        padding: 20px;
        height: auto;
        font-size: 12px;
        flex-direction: column;
    }
}

.prev-btn:disabled {
    opacity: 0.5;
    /*cursor: not-allowed; */
}

.next-btn:disabled {
    opacity: 0.5;
    /*cursor: not-allowed; */
}

.image-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 120px;
}

.current-img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.prev-btn,
.next-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 1;
}

.prev-btn {
    left: 15px;
}

.next-btn {
    right: 15px;
}

.product-details {
    margin-left: 10px;
    background-color: white;
    align-items: center;
    justify-content: center;
}

.description {
    max-width: 400px;
    text-align: justify;
    font-size: 15px;
}

.size-btn {
    margin-right: 10px;
    width: 50px;
    background-color: #ddd;
    border: 1px solid #ddd;
    color: black;
}

.size-btn.active {
    background-color: #8bc734;
    border-color: #8bc734;
}

#quantity-selector {
    display: flex;
    align-items: center;
}

.quantity-btn {
    width: 30px;
    height: 30px;
    border: 1px solid #ddd;
    background-color: #ddd;
    /*color: #17d71d;*/
    color: black;
}

.quantity-display {
    display: inline-block;
    width: 50px;
    text-align: center;
}

.add-to-cart {
    border-radius: 5px;
    background-color:#716d6c;
    border-color: #716d6c;
    color: white;
    width: 200px;
    height: 35px;

}

.add-to-cart:hover {
    background-color: #8bc734;
    border-color: #8bc734;
    color: white;
}

.add-to-cart-container {
    display: flex;
    justify-content: justify;
    align-items: justify;
}

.unit-toggle {
    border: 1px solid #ccc;
    /* Default border color */
    padding: 5px 10px;
    background-color: transparent;
    cursor: pointer;
}

.unit-toggle.active {
    border: 1px solid black;
    /* Border color when button is active */
}

@media (max-width: 600px) {
    .add-to-cart-container {
        margin-bottom: 60px;
    }
    .image-container {
        margin-top: 100px;
    }
}

.cart-icon {
    color: white;
    font-size: 25px;
    margin-right: 17px;
}

.donate-link {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    font-family: Arial, sans-serif;
    font-size: 16px;
}

@media only screen and (min-width: 768px) {
    .product-details {
        margin-top: 80px;
    }
    .donate-btn {
        margin-top: 5px;
        margin-left: 5px;
    }
}
.navbar-nav {
    margin-right: 20px; /* Adjust this value as needed */
}
.donate-btn {
    background-color: #afdb51;
    border-color: #afdb51;
    color: black;
    border: none;
    cursor: pointer;
    font-size: 12px;
}

.donate-btn:hover {
    background-color: #afdb51;
    color: black;
}


